{% extends 'base.html' %}
{% load static %} 

{% block title %}本棚アプリ{% endblock %}
{% block h1 %}本棚アプリ{% endblock %}

{% block content %}
{% if searchForm %}
<form action='{% url "index" %}' method='get'>
    <div class='form-group'>
    {{ searchForm }}
    <input type="submit" class="btn btn-outline-primary" value="OK" />
    <a href="{% url 'index' %}" class="btn btn-outline-secondary">クリア</a>

    <form method="GET" action="{% url 'index' %}" name="sort">
        <select class="form-control" name="sort" onchange="this.form.submit()">
            <option value="rating" {% if sort_option == 'rating' %}selected{% endif %}>並び替え：評価順</option>
            <option value="newest" {% if sort_option == 'newest' %}selected{% endif %}>並び替え：新しい順</option>
            <option value="oldest" {% if sort_option == 'oldest' %}selected{% endif %}>並び替え：古い順</option>
        </select>
    </form>
    </div>

</form>
{% endif %}


<div class="row">
    <div class="col-9">
        <div class="row justify-content-center">
            {% for item in object_list %}
            <div class="col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card text-center flex-fill">
                    <div class="card-header">
                        {{ item.title }}
                    </div>
                    {% if item.thumbnail %}
                    <img src="{{ item.thumbnail.url }}" class="img-thumbnail mx-auto" />
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ item.text }}</p>
                        <a href="{% url 'detail-book' item.pk %}" class="btn btn-primary">詳細</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        {{ item.category }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<div class="col-3">
    <h2>評価順TOP5
    </h2>
        {% for ranking_book in ranking_list %}
            <div class="p-4 m-4 bg-light border border-success rounded">
                <h3 class="text-success">{{ ranking_book.title }}</h3>
                {% if ranking_book.thumbnail %}
                <img src="{{ ranking_book.thumbnail.url }}" class="img-thumbnail mx-auto"/>
                {% endif %}
                <h6>評価:{{ranking_book.avg_ranking|floatformat}}点</h6>
                <a href="{% url 'detail-book' ranking_book.id %}">詳細を見る</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
